services:
  db:
    image: postgres:latest
    restart: always
    env_file:
      - ./apps/backend/.env.docker
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB']
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    build:
      context: .
      dockerfile: ./apps/backend/Dockerfile
    env_file:
      - ./apps/backend/.env.docker
    ports:
      - '4000:4000'
    depends_on:
      db:
        condition: service_healthy

volumes:
  pgdata:
